@use '@porsche-design-system/components-angular/styles' as *;

.custom-input {
  background: #262629;
  border: 1px solid #323236;
  border-radius: 4px;
  padding: 8px 12px;
  color: #e4e4e6;
  --background: #262629;
  --color: #e4e4e6;
  --placeholder-color: #86868d;
}

ion-searchbar {
  --background: #262629;
  --color: #e4e4e6;
  --placeholder-color: #86868d;
  --icon-color: #86868d;
  --border-radius: 8px;
}
